{% extends 'base.html' %}

{% block content %}
    <form>
      <h1 style="color: rgb(249, 140, 7);">{{ post['title'] }}</h1>
      <a style="font-size: medium;font-family:Verdana, Geneva, Tahoma, sans-serif;color: black;" name="body" id="body">"{{post['body']}}"</a>
    </form>
    <a href="{{ url_for('index') }}" style="background-color: rgb(23, 62, 62); color: aliceblue;">Back to home</a>
{% endblock %}
