{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <!-- here(below) is what I modified -->
          <!-- this used to be "<li><a href="{{ url_for('blog.display', id=post['id']) }}">{{ post.title }}</a>"</li>-->
          <a href="{{ url_for('blog.display', id=post['id']) }}">{{ post.title }}</a>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <!-- stock part-->
  <a href="{{ url_for('blog.stock')}}">Stock History Graph</a>
{% endblock %}


