{% extends 'base.html' %}

{% block content %}
  <h1>Add Stock</h1>
  <form action="{{ url_for('blog.add_stock') }}" method="post">
    <label for="symbol">Symbol:</label>
    <input type="text" name="symbol" id="symbol" value="{{ request.form['symbol'] }}">
    <label for="tracking_price">Tracking Price:</label>
    <input type="number" name="tracking_price" id="tracking_price" value="{{ request.form['tracking_price'] }}">
    <label for="shares"># of Shares:</label>
    <input type="number" name="shares" id="shares" value="{{ request.form['shares'] }}">
    <button type="submit">Add Stock</button>
  </form>
{% endblock %}
