{% extends 'base.html' %}

{% block content %}
<h1>Stock Tracker</h1>
<a href="{{ url_for('blog.add_stock') }}" method="post">Add Stock</a>
<hr>
<table id="stocksTable" class="table table-striped">
  
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Date Added</th>
      <th>Tracking Price</th>
      <th>Shares</th>
      <th>Current Price</th>
      <th>Change(%)</th>
      <th>Action</th>
    </tr>
  </thead>
  
  <tbody>
    {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.date_in }}</td>
        <td>{{ stock.tracking_price }}</td>
        <td>{{ stock.shares }}</td>
        <td>{{ stock.current_price }}</td>
        <td>{{ stock.percent_change }}</td>
        <td>
          <form action="{{ url_for('blog.remove_stock', id=stock.id) }}" method="post">
            <button type="submit">Remove</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div style="align-items: center;">
  <div id="plot"></div>
</div>


<script>
  // create plot from JSON data
  var plot_data = JSON.parse('{{ plot_data_json|safe }}');
  var layout = {
  title: 'Stock Portfolio',
  width: 500,
  height:500
};

  Plotly.newPlot('plot', plot_data, layout);
</script>



<script>
  $(document).ready( function () {
    $('#stocksTable').DataTable();
  } );
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='chart.js') }}"></script>
{% endblock %}