<!DOCTYPE html>
<html>
  <head>
    <title>Stock Symbol Lookup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="container" style="align-self: center;">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
      </header>
    </div>

    <form method="post" action="/" style="margin-left: 10cm;">
      <label for="stock-symbol">Stock Symbol:</label>
      <input type="text" id="stock-symbol" name="stock_symbol">
      <button type="submit">Submit</button>
    </form>

    <div id="plot" style="border: 1cm;">
      {% if plot %}
        {{ plot|safe }}
      {% endif %}
    </div>
    
    <p style="margin-left: 1cm;">
      Stock Symbol: {{symbol}}<br>
      Name :  {{ name }}<br>
      Sector :  {{ sector }}<br>
      Industry :{{industry}}<br>
      Market Cap :{{marketcap}}<br>
      P/E Ratio : {{PE_Ratio}}<br>
      EPS : {{EPS}}<br>
      Dividend : {{dividend}}<br>
      Dividend Yield : {{dividend_yield}}<br>
      Exchange : {{exchange}}<br>
      <br>
      Current Price: {{ price }}<br>
      Previous Close: {{previous_close}}<br>
      Open : {{open}}<br>
      Volume : {{volume}}<br>
      52 week high : {{weekhigh}}<br>
      52 week low : {{weeklow}}<br>
    </p>

    <div>
      {% if news %}
      <h2 style="margin-left: 1cm;">News Headlines</h2>
      <ul>
        {% for article in news %}
          <li><a href="{{ article.url }}" target="_blank">{{ article.title }}</a>: {{ article.summary}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div id="footer" style="margin-right: 30;">
      <ul>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms of Service</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </body>


</html>
