<!doctype html>

<head>
  {% block scripts %}{% endblock %}
</head>

<body>
  <title>{% block title %}{% endblock %}Grayson Week 6</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script>
    $(document).ready( function () {
      $('#stocksTable').DataTable();
    } );
  </script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>

